server {
    listen {{ item.listen }};
    server_name {{ item.server_name }};
    root /usr/share/nginx/html;

    location / {
        proxy_pass {{ item.location[0].proxy_pass }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}